{% extends 'base/base.html' %}

<title>{% block 'title' %}{% endblock %}</title>


{% block content %}

    <style>
    .x{
        background: aquamarine;
    }
    </style>



<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
      <a href="{% url 'add_category' %} " class=" btn btn-success">+ Add new category</a>
      <a href="{% url 'category_list' %} " class=" btn btn-warning">All categories</a>
{#      {% for category in category.all  %}#}
        <h1 class="x">{% block title %} {{ category.title|capfirst }} {% endblock title %}</h1>

{#        <p class="card-text ">{{ post.desc | safe }}</p>#}
          <small class=" text-muted">Added by:{{ category.user }} on {{ category.date }} <hr>
{#      {% endfor %}#}








</div>

    </div>
  </div>

    {% block sidebar %} {% include 'forum/sidebar.html' %} {% endblock sidebar %}
  </div>




{% endblock content %}