{% extends 'base/base.html' %}



{% block 'title' %}

signin

{% endblock %}


{% block content %}

<div class="row">
<div class="col-md-4 col-md-offset-4">

            <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Signin</h3>
          </div>
             <div class="panel-body">
                 {% if errmsg %}
                 <div class="alert alert-danger">{{ errmsg }}</div>
                 {% endif %}
                 <form action="{% url 'login' %}" method="POST">
                     <div class="input-group">
                  <span class="input-group-addon">Username</span>
                  <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
                </div>
                     <div class="input-group">
              <span class="input-group-addon" >Password</span>
              <input type="password" class="form-control" placeholder="password" name="password" aria-describedby="basic-addon1">
            </div>

                     {% csrf_token %}

                     <button type="submit" class="btn btn-primary">Login</button>

                 </form>

                </div>
            </div>
        </div>
</div>


{% endblock %}